body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9em;

}

.header-container{
    background-color: lightgreen;
    padding-bottom: 1rem;
}
.nav-bar{
    background: green;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-bar ul li {
    list-style: none;
    display: inline;
    
}
.nav-bar ul li a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}
