body{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    position: relative;

}

.header-container{
    background-color: lightgreen;
    padding-bottom: 1rem;
}
.nav-bar{
    background: green;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-bar ul li {
    list-style: none;
    display: inline;
    
}
.nav-bar ul li a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}
